.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/*  */

.add-to-cart img{
  height: 75px;
  position: absolute;
  right: 1%;
  top: 1%;
}

.cart-wrapper{
  height: 150px;
  width: 500px;
  border: 1px, Solid, #ccc;
  border-radius: 4px;
  margin-left: 70px;
}

.image-wrapper img{
  height:100px;
}

.text-wrapper{
  margin-top: 25px;
  font-weight: bold;
}

.btn-wrapper button {
  background-color: red;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  margin-top: 25px;
  box-shadow: #000 0px 1px 5px;
}

.item{
  float:left;
  width:120px;
  padding: 20px;
  display:inline-block;
  height:100px;
}
/*  */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
